.logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.search, .footer {
    box-sizing: content-box;
    margin: 0 5%;
}

.search {
    background-color: #EEEEEE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input[type='text'] {
    width: 290px;
}

.search > .buttons {
    display: flex;
    flex-direction: row;
}

.search > .buttons > button {
    margin: 2px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 10;
}

.footer div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > div {
    justify-content: center;
}

.footer > div:first-child {
    margin: 2px 2px 0 0;
}

.footer > div:nth-child(2) {
    margin: 2px 0 0 0;
}

.footer > div:last-child {
    margin: 2px 0 0 2px;
}

.flex-4,
.flex-2 {
    display: flex;
}

.flex-4 {
    flex: 4;
}

.flex-2 {
    flex: 2;
}

.flex-row {
    flex-direction: row !important;
}

.bg-1 {
    background-color: #7EE5DA;
}

.bg-2 {
    background-color: #70CCC2;
}

.bg-3 {
    background-color: #62B3AA;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}