.logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.search {
    background-color: #EEEEEE;
    text-align: center;
    box-sizing: content-box;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input[type='text'] {
    width: 290px;
}

.search > .buttons {
    display: flex;
    flex-direction: row;
}

.search > .buttons > button {
    margin: 2px;
}